<modal-form
  [title]="dialogTitle"
  [icon]="isViewOnly ? 'visibility' : isEditMode ? 'edit' : 'spa'"
  iconColor="#fa8e8e"
  [saveLabel]="saveLabel"
  [saveDisabled]="careForm.invalid"
  [hideSaveButton]="isViewOnly"
  (save)="onSave()"
  (cancel)="onCancel()">

  <mat-tab-group>
    <mat-tab label="Informations">
      <div class="tab-content">
        <dynamic-form [config]="formConfig" [formGroup]="careForm" />
      </div>
    </mat-tab>

    <mat-tab label="Images">
      <div class="tab-content">
        @if (isViewOnly) {
          <image-carousel [images]="images()" />
        } @else {
          <image-manager
            [images]="images()"
            (imagesChange)="onImagesChange($event)"
          />
        }
      </div>
    </mat-tab>
  </mat-tab-group>

</modal-form>
