<modal-form
  [title]="dialogTitle"
  [icon]="isEditMode ? 'edit' : 'spa'"
  iconColor="#fa8e8e"
  [saveLabel]="saveLabel"
  [saveDisabled]="careForm.invalid"
  (save)="onSave()"
  (cancel)="onCancel()">

  <mat-tab-group>
    <mat-tab label="Informations">
      <div class="tab-content">
        <dynamic-form [config]="formConfig" [formGroup]="careForm" />
      </div>
    </mat-tab>

    <mat-tab label="Images">
      <div class="tab-content">
        <image-manager
          [images]="images()"
          (imagesChange)="onImagesChange($event)"
        />
      </div>
    </mat-tab>
  </mat-tab-group>

</modal-form>
