<div
  class="tour-bubble"
  [class.is-above]="bubblePosition().placement === 'above'"
  [style.top.px]="bubblePosition().top"
  [style.left.px]="bubblePosition().left"
>
  @if (inTransition()) {
    <p class="tour-bubble-success" data-testid="tour-bubble-success">
      <mat-icon aria-hidden="true">check_circle</mat-icon>
      <span>{{ 'pro.tour.transition.success' | transloco }}</span>
    </p>
  } @else {
    <h5 class="tour-bubble-title">{{ step().titleKey | transloco }}</h5>
    <p class="tour-bubble-desc">{{ step().descKey | transloco }}</p>
    <div class="tour-bubble-actions">
      <span class="tour-bubble-counter">{{ progress().done }} / {{ progress().total }}</span>
      <button
        type="button"
        class="tour-btn-text"
        data-testid="tour-bubble-later"
        (click)="close.emit()"
      >
        {{ 'pro.tour.actions.later' | transloco }}
      </button>
    </div>
  }
</div>
